<div id="footer-navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div id="footer_img">
          <div class="media">
            <%= link_to image_tag('plogo.png'), "http://www.perseus.tufts.edu", :class => "pull-left"%>
            <div class="media-body">
              The Perseus Digital Library
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
</div>