<div class="hero-unit">
  <h1> Welcome! </h1>
  &nbsp;
  <p>This is the test blacklight powered catalog for the Perseus Digital Library.</p>
  <p>To search, please enter your query in the search box above. If you'd like to browse, take a look at the limiting fields to the left.</p>
  <p>The optional search fields behave in the following way:</p>
    <dl class="dl-invert">
      <dt>Title</dt>
        <dd>The title search field will search and return work titles exclusively.</dd>
      <dt>Author</dt>
        <dd>The author search field searches all author standardized and alternate names.  It will return only records to authors, not their works.</dd>
      <dt>ID</dt>
        <dd>The ID search field accepts the standardized identifiers utilized by the Canonical Text Services (CTS) for text groups/authors, works, and editions.  The expression level records are identified by their full CTS URN.  <br>
        e.g. The text group Homer has the ID tlg0012; the work <em>Iliad</em> has the ID tlg0012.tlg001; and lastly, an expression of the <em>Iliad</em>, the 1931 edition edited by Thomas W. Allen, has the ID urn:cts:greekLit:tlg0012.tlg001.perseus-grcX1.  <br>
        When tlg0012 is searched on, it will return the text group, works, and expressions records.  tlg0012.tlg001 will return the works and expressions.</dd>
</div>

