<div class="hero-unit">
  
  <h3>Welcome!</h3>
  <p>To search, please enter your query in the search box above. If you'd like to immediately browse works, editions, or translations, take a look at the limiting fields to the right. To browse authors, please see <%= link_to "this list", browse_path%>.</p>
  <p>The 'All Fields' search will query the full text of each catalog record and return results that are ranked by relevance.  Frequently, your desired record may appear a few pages into the search results. To narrow your results you can use the 'Browse by' fields in the sidebar, or you can search using one of the additional search fields. For further details on the search field behaviors, please see <%= link_to "this page", 'http://sites.tufts.edu/perseuscatalog/documentation/user-guide/searching/'%>.</p>
  
  <h3>News and Announcements</h3>
  <%= render 'blog_feed' %>
  

</div>

