<h4>Instructions:</h4>
<p>Please enter the below information to search the catalog for a preexisting record. <br>
    If no record is found you will be provided with a form that will generate a MODS record.
    </p>
  <div class="row-fluid">
    <div class="span12 well">
      <form class="form-horizontal">
        
        <%= render_search_fields %>
        <button type="submit" class="btn">Search</button>
      </form>
    </div>
</div>
