

/* Wrapper for page content to push down footer */
#wrap {
  padding-top: 8em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push{
  height: 80px;
}

#footer-navbar-fixed-bottom {
  height: 80px;
  background-image: linear-gradient(to bottom, #f6f6f6, #bb8a5c);
  /*border-top: 1px solid $navbarBorder;*/
}



#footer-img {
  padding-top: 10px;

}

#footer-links {
  padding-top: 30px;
}

#footer-text {
  padding-top: 15px;
  font-size: 12px;
  line-height: 15px;
}