

/* Wrapper for page content to push down footer */
#wrap {
  @media(min-width: 979px){
  padding-top: 8em;
  }
  min-height: 100%;
  height: auto !important;
  max-height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push{
  height: 80px;
}

#footer-navbar-fixed-bottom {
  max-height: 100%;
  background-image: -webkit-linear-gradient(top, #f6f6f6, #bb8a5c);
  background-image: linear-gradient(to bottom, #f6f6f6, #bb8a5c);
  /*border-top: 1px solid $navbarBorder;*/
}



#footer-img {
  padding-top: 5px;

}

#footer-links {
  padding-top: 20px;
}

#footer-text {
  padding-top: 20px;
  font-size: 13px;
  line-height: 20px;
}
