 

@import "variables";

@import "bootstrap";
@import "bootstrap-responsive";

@import "bootswatch";

@import 'blacklight/blacklight';

@import "header";
@import "footer";

.perseus_canonical_uri { 
  font-size: small;
}
.perseus_canonical_uri .title {
  color: #888888;
  padding-right: .5em;
}

html, body {
  height: auto;
  padding-top: 0em;
}

