  <!-- Remove this override, the bookmark_control override, the search_history/index override, the saved_searches/index override, and the comment on :registration in models/user.rb to regain devise user functionality-->
  <div class="util-links-other">
    <ul class="unstyled">
      <li><%= link_to t('blacklight.header_links.search_history'), search_history_path %></li>
      <li><%= link_to t('blacklight.header_links.help'), "http://sites.tufts.edu/perseuscatalog/f-a-q/", :target => "_blank" %></li>
    </ul>
  </div>